### Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [139]:
### Importing requried libraries 
import selenium
import pandas as pd
from selenium import webdriver
import time
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

In [142]:
driver = webdriver.Chrome(r"C:\Users\Arvind\chromedriver.exe") ### installing Chrome driver.

In [3]:
### Storing url and getting data from url.
url = 'https://www.naukri.com/'
driver.get(url)

In [8]:
search_jobs = driver.find_element_by_id('qsb-keyword-sugg')### Storing search bar element
search_jobs.send_keys('Data Analyst') ### Sending keys to search bar.

In [9]:
location = driver.find_element_by_xpath('//input[@id="qsb-location-sugg"]') ### storing location element.
location.send_keys('Bangalore') ### Sending keys to location.

In [10]:
search = driver.find_element_by_xpath('//button[@class="btn"]') ### Storing search button.
search.click() ### Clicking on search button.

In [11]:
Titles_tag = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]') #### Scraping Job titles from page.

In [12]:
job_titles=[] #### Storing job titles in List.
for x in Titles_tag:
    job_titles.append(x.text)

In [13]:
job_titles

['Senior Specialist - Data Analyst',
 'Business/Data Analyst - SSE/LA',
 'Business Data Analyst II',
 'Data Analyst',
 'Business Data Analyst',
 'Business Data Analyst',
 'Data Analyst/Business Analyst-Gurgaon/Bangalore/Mumbai (only Females)',
 'Senior Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data/Business Analyst',
 'Senior Data Analyst',
 'Senior Data Analyst - SQL/Tableau/Redshift',
 'Marketing Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst']

In [14]:
companies_tag = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]') #### Scraping companies name from page.

In [15]:
companies_name = [] ### Storing companies name in list.
for x in companies_tag:
    companies_name.append(x.text)
companies_name

['Philips India Limited',
 'CGI Information Systems and Management Consultants',
 'Infobahn Softworld Inc.',
 'WEIWO Communication Pvt. Ltd.',
 'Trigent Software',
 'Trigent Software',
 'India Medtronic Pvt. Ltd,.',
 'SMEDC SERVICES PRIVATE LIMITED',
 'Allegis Services India Pvt. Ltd.',
 'Allegis Services India Pvt. Ltd.',
 'Enzen Global Solutions Pvt. Ltd',
 'CGI Information Systems and Management Consultants',
 'Liventus, Inc.',
 'Pronto Consulting Services',
 'Qlik',
 'Gojek Tech',
 'GO-JEK India',
 'Eli Lilly Services India Private Limited',
 'Infobahn Softworld Inc.',
 'GCC SERVICES INDIA PRIVATE LIMITED']

In [16]:
expirence_tag = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]//span') ### Scraping exprience required.

In [17]:
Expirence_required = [] ### Storing expirence data in list 
for i in expirence_tag:
    Expirence_required.append(i.text)
Expirence_required

['4-8 Yrs',
 '2-5 Yrs',
 '5-8 Yrs',
 '4-8 Yrs',
 '3-5 Yrs',
 '3-5 Yrs',
 '1-4 Yrs',
 '5-8 Yrs',
 '2-5 Yrs',
 '3-5 Yrs',
 '6-8 Yrs',
 '6-10 Yrs',
 '5-8 Yrs',
 '6-10 Yrs',
 '2-7 Yrs',
 '1-4 Yrs',
 '3-7 Yrs',
 '5-10 Yrs',
 '3-9 Yrs',
 '5-9 Yrs']

In [18]:
location_tag = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]//span[1]') ### Scraping location data from website.

In [19]:
Job_location = [] ### Storing location data in list.
for i in location_tag:
    Job_location.append(i.text)
Job_location

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(Ulsoor)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(2nd Phase JP Nagar)',
 'Noida, Mumbai, Indore, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [20]:
### Checking length of all the tags
print(len(job_titles),len(Job_location),len(Expirence_required),len(companies_name))

20 20 20 20

### Creating dataframe

In [21]:
first_10_jobs = pd.DataFrame({})
first_10_jobs['Job Titles'] = job_titles[:10]
first_10_jobs['job-location'] = Job_location[:10]
first_10_jobs['company_name'] = companies_name[:10]
first_10_jobs['experience_required'] = Expirence_required[:10]

In [22]:
first_10_jobs

,Job Titles,job-location,company_name,experience_required
0,Senior Specialist - Data Analyst,Bangalore/Bengaluru,Philips India Limited,4-8 Yrs
1,Business/Data Analyst - SSE/LA,Bangalore/Bengaluru,CGI Information Systems and Management Consult...,2-5 Yrs
2,Business Data Analyst II,Bangalore/Bengaluru,Infobahn Softworld Inc.,5-8 Yrs
3,Data Analyst,Bangalore/Bengaluru(Ulsoor),WEIWO Communication Pvt. Ltd.,4-8 Yrs
4,Business Data Analyst,Bangalore/Bengaluru,Trigent Software,3-5 Yrs
5,Business Data Analyst,Bangalore/Bengaluru,Trigent Software,3-5 Yrs
6,Data Analyst/Business Analyst-Gurgaon/Bangalor...,"Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai ...","India Medtronic Pvt. Ltd,.",1-4 Yrs
7,Senior Data Analyst,Bangalore/Bengaluru,SMEDC SERVICES PRIVATE LIMITED,5-8 Yrs
8,Data Analyst,Bangalore/Bengaluru,Allegis Services India Pvt. Ltd.,2-5 Yrs
9,Data Analyst,Bangalore/Bengaluru,Allegis Services India Pvt. Ltd.,3-5 Yrs

# 
# 
### Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data.

In [190]:
driver = webdriver.Chrome(r"C:\Users\Arvind\chromedriver.exe")

In [193]:
url = 'https://www.naukri.com/'
driver.get(url)

In [195]:
time.sleep(5)
search = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section/div/form/div[1]/div/div/div/div[1]/div[2]/input')
search.send_keys('Data Scientist')

In [196]:
location_search = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section/div/form/div[2]/div/div/div/div[1]/div[2]/input')
location_search.send_keys('Bangalore')

In [197]:
search_button = driver.find_element_by_class_name('btn')
search_button.click()

In [198]:
Jobs = [] 
for x in driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]'):
    Jobs.append(x.text)
Jobs

['Data Scientist: Advanced Analytics',
 'Senior Data & Applied Scientist',
 'Data & Applied Scientist',
 'Senior Data Scientist',
 'DATA SCIENTIST',
 'Senior Data Scientist',
 'Python - Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Western Digital Data Scientist 3',
 'Western Digital Data Scientist',
 'Data Scientist 4',
 'Senior Data Scientist',
 'Data Scientist - Permanent Role',
 'Data Scientist 4',
 'Data Scientist',
 'Immediate Openings For DATA Scientist with 6 To 7 yrs of Experience',
 'Software Developer - Data Scientist / NLP / Machine Learning & Dot Net',
 'Hiring Data Scientist',
 'Senior Data Scientist']

In [199]:
Location = []
for i in driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]//span[1]'):
    Location.append(i.text)
Location

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(5th block Koramangala)',
 'New Delhi, Bangalore/Bengaluru, Delhi / NCR']

In [200]:
companies = []
for i in driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]'):
    companies.append(i.text)
companies

['IBM India Pvt. Limited',
 'Microsoft Corporation',
 'Microsoft Corporation',
 'Philips India Limited',
 'McAfee Software (India) Pvt. Ltd',
 'SYMBIOSIS International W.L.L',
 'Mindtree Limited',
 'Datamatics Global Services Ltd',
 'Publicis Groupe',
 'Western Digital',
 'Western Digital',
 'Western Digital',
 'Bidgely Technologies Private Limited',
 'Onward Technologies Limited',
 'Western Digital',
 'HotelHub',
 'Entune IT Consulting Private Limited',
 'Cunesoft India Private Limited',
 'IHX private limited',
 'Goals 101 Data Solutions Pvt. Ltd.']

In [201]:
job_opening_urls = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')

In [202]:
job_decrip = []
for i in job_opening_urls:
    job_decrip.append(i.get_attribute('href'))
job_decrip

['https://www.naukri.com/job-listings-data-scientist-advanced-analytics-ibm-india-pvt-limited-bangalore-bengaluru-5-to-10-years-060821907733?src=jobsearchDesk&sid=16284124969456899&xp=1&px=1',
 'https://www.naukri.com/job-listings-senior-data-applied-scientist-microsoft-india-r-and-d-pvt-ltd-bangalore-bengaluru-3-to-5-years-060821501871?src=jobsearchDesk&sid=16284124969456899&xp=2&px=1',
 'https://www.naukri.com/job-listings-data-applied-scientist-microsoft-india-r-and-d-pvt-ltd-bangalore-bengaluru-3-to-7-years-060821501870?src=jobsearchDesk&sid=16284124969456899&xp=3&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-philips-india-limited-bangalore-bengaluru-8-to-10-years-060821501599?src=jobsearchDesk&sid=16284124969456899&xp=4&px=1',
 'https://www.naukri.com/job-listings-data-scientist-mcafee-software-india-pvt-ltd-bangalore-bengaluru-4-to-8-years-050821501145?src=jobsearchDesk&sid=16284124969456899&xp=5&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-symbiosis-international-w-l-l-bangalore-bengaluru-10-to-15-years-050821004331?src=jobsearchDesk&sid=16284124969456899&xp=6&px=1',
 'https://www.naukri.com/job-listings-python-data-scientist-mindtree-limited-bangalore-bengaluru-3-to-5-years-040821500207?src=jobsearchDesk&sid=16284124969456899&xp=7&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-datamatics-global-services-ltd-bangalore-bengaluru-8-to-13-years-040821003517?src=jobsearchDesk&sid=16284124969456899&xp=8&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-publicis-groupe-bangalore-bengaluru-2-to-5-years-030821501259?src=jobsearchDesk&sid=16284124969456899&xp=9&px=1',
 'https://www.naukri.com/job-listings-western-digital-data-scientist-3-western-digital-bangalore-bengaluru-4-to-5-years-030821500726?src=jobsearchDesk&sid=16284124969456899&xp=10&px=1',
 'https://www.naukri.com/job-listings-western-digital-data-scientist-western-digital-bangalore-bengaluru-10-to-12-years-030821500725?src=jobsearchDesk&sid=16284124969456899&xp=11&px=1',
 'https://www.naukri.com/job-listings-data-scientist-4-western-digital-bangalore-bengaluru-6-to-8-years-030821500721?src=jobsearchDesk&sid=16284124969456899&xp=12&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-bidgely-technologies-private-limited-bangalore-bengaluru-4-to-6-years-030821500043?src=jobsearchDesk&sid=16284124969456899&xp=13&px=1',
 'https://www.naukri.com/job-listings-data-scientist-permanent-role-onward-technologies-limited-hyderabad-secunderabad-chennai-bangalore-bengaluru-6-to-11-years-030821002780?src=jobsearchDesk&sid=16284124969456899&xp=14&px=1',
 'https://www.naukri.com/job-listings-data-scientist-4-western-digital-bangalore-bengaluru-5-to-6-years-020821500513?src=jobsearchDesk&sid=16284124969456899&xp=15&px=1',
 'https://www.naukri.com/job-listings-data-scientist-hotelhub-bangalore-bengaluru-6-to-11-years-020821500146?src=jobsearchDesk&sid=16284124969456899&xp=16&px=1',
 'https://www.naukri.com/job-listings-immediate-openings-for-data-scientist-with-6-to-7-yrs-of-experience-entune-it-consulting-private-limited-kolkata-hyderabad-secunderabad-pune-ahmedabad-chennai-bangalore-bengaluru-delhi-ncr-mumbai-all-areas-5-to-8-years-020821005914?src=jobsearchDesk&sid=16284124969456899&xp=17&px=1',
 'https://www.naukri.com/job-listings-software-developer-data-scientist-nlp-machine-learning-dot-net-cunesoft-india-private-limited-bangalore-bengaluru-3-to-8-years-190121001281?src=jobsearchDesk&sid=16284124969456899&xp=18&px=1',
 'https://www.naukri.com/job-listings-hiring-data-scientist-ihx-private-limited-bangalore-bengaluru-4-to-6-years-090721002695?src=jobsearchDesk&sid=16284124969456899&xp=19&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-goals-101-data-solutions-pvt-ltd-new-delhi-bangalore-bengaluru-delhi-ncr-4-to-8-years-030821000870?src=jobsearchDesk&sid=16284124969456899&xp=20&px=1']

In [32]:
job_description = []

for i in job_decrip:
    driver.get(i)
    try:
        job_des = driver.find_element_by_xpath('//section[@class="job-desc"]')
        job_description.append(job_des.text)
    except:
        job_description.append('----')
print(job_description)

['Job description\n  Be a part of the Enterprise IT , Information and Data Science team and drive a strategic and actionable Data Science architecture to activate the needed business capabilities. Deliver business use cases like Care Provider (Customer, Product , IB ) 360 initiative, Product bundling , Value Based pricing , Conversational AI, Indirect Trade partner classification , Data pipeline predictions etc - an ambition to better understand the needs of Healthcare Providers, the way Philips serves its customers and how and where Philips can add value to the customer decision journey.\nYour responsibilities\nEnsure strategic direction for data science capabilities for Philips is created and kept up to date on a regular basis\nContinuously evaluate the latest techniques in Artificial intelligence, machine learning, robotics, statistical analysis\nImplement advanced algorithms for business problems based on statistical analysis, coding, deep learning, advanced data mining techniques etc.\nDevelop new algorithms if necessary, to bring predictive, advanced statistics / learning based solutions\nDevelop algorithms to further automate processes and feed insights back into PIL for better business outcome\nCo-create with business / market / functions or IT platforms on requirements\nEnsure quality of data and solution developed\nLead and drive data mining, creating algorithms, collection of data, collection of procedures during the design, build phases of a project\nLead and drive in deploy and testing of the solutions and insights\nSpot and evaluate emerging/cutting edge, open source, data science/machine learning libraries\nYou are part of:\nYou will be part of Group IT , Information and Data Management team that drives business impact through Data Science and Advanced analytics. A team that instigates collaboration across diverse teams globally to manage Data as an asset at Philips.\nCore competencies needed to be successful:\nA Master s Degree or PhD in Computer Science, Econometrics, Artificial Intelligence, Applied Mathematics, Statistics or equivalent;\n8-10 years of overall experience in data science, data analytics roles\n8+ years of experience in multiple of machine learning, data mining, deep learning, artificial intelligence, pattern recognition areas\nExperience in driving implementation of solutions, data and algorithms on data warehouse and lakes like Azure , AWS, SQL etc\nDemonstrable advanced programming experience in Python or another programming language such as Azure ML/R/Python etc ;\nStrong analytical and social skills and the capability to translate data intelligence into valuable insights for the senior stakeholders in the company\nAbility to formulate multiple complex business problems into hypothesis and proof of concepts for testing\nManage Projects and lead a sub-portfolio of data science project teams to deliver results\nCoach, Guide and direct teams of internal and vendor resources\nCollaborate across IT platform teams to deploy solutions and drive continuous improvements\nManage senior stakeholder in the company in a matrix organization i.e. Market / BG / Function leaders\nRoleBusiness/EDP Analyst\nIndustry TypeMedical Services / Hospital\nFunctional AreaITES, BPO, KPO, LPO, Customer Service, Operations\nEmployment TypeFull Time, Permanent\nRole CategoryOperations\nEducation\nUG :Any Graduate\nPG :Post Graduation Not Required\nKey Skills\nComputer scienceData managementCodingAnalyticalMachine learningHealthcareData miningRoboticsSQLPython', '----', "Job description\nRequired Candidate profile\nWe are looking for a Senior Data Scientist with a min of 10 years experience in Banking Financial Domain (especially Compliance related) and a solid background in Cloudera.\nAs a Cloudera Specialist, you must be adept in Cloudera tools like CDH, CEPH, CM, CMA, Data node EDH, HVE, JAS, NameNode, Nodemanager, QJM, QJN, RM and ZK.\nThis will be a two years assignment to one of the Leading Class A banks in Abu Dhabi.\nCandidate should have finished two or three full implementations of Data Analytics in Compliance in large Enterprise Banks.\nShould be having thorough knowledge in R, Python, Scala on demand and Jupyter Notebooks.\nShould be having hands experience in CCA Spark and Hadoop developer.\nShould be having a Financial Compliance Background with a good knowledge and hands on expertise on Compliance related domains.\nShould be a Machine Learning expert and create new models and use various library in that area. You should have proven skills in this area.\nShould be having a thorough theoretical and practical idea on the following systems (From a Data Scientist Perspective)\nHDFS\nYarn\nMapReduce\nHive\nPig\nApache Ambari\nHBase / Apache Impala\nStorm\nOozie\nRanger\nZookeeper\nVarious data ingestion tools like Sqoop, flume, Kafka\nVarious reporting tools like Drill, Phoenix, Zeppelin\nWill be an added advantage if you have exposure to GPU processing, Tensor Flow and Data Lakes.\nShould be able to produce high Quality Business documentation, Project Management, Agile Framework practices as needed.\nShould inspect the current Cloudera Architecture and suggest enhancements or improve it.\nShould be able to communicate with Senior Business Management ideas, concepts and deliverables.\nIf you have certifications on Cloudera (Cloudera Data Engineer, Spark and Hadoop Developer), it will be an added advantage.\nData Scientist - Compliance\nResponsibilities:\nUse advanced analytics methods to extract value from business data\nPerform large-scale experimentation and build data-driven models to answer business questions\nConduct research on cutting-edge techniques and tools in machine learning/deep learning/artificial intelligence\nDetermine requirements that will be used to train and evolve deep learning models and algorithms\nArticulate a vision and roadmap for the exploitation of data as a valued corporate asset\nInfluence product teams through presentation of data-based recommendations\nEvangelize best practices to analytics and products teams\nAssemble large, complex data sets that meet functional / non-functional business requirements.\nIdentify, design, and implement internal process improvements: automating manual processes, optimizing analytics delivery, re-designing infrastructure for greater scalability, etc.\nBuild analytics tools that utilize the data to provide actionable insights into customer acquisition, operational efficiency and other key business performance metrics.\nWork with stakeholders including the Executive, Product, Data and Design teams to assist with analytics related technical issues and support their data infrastructure needs.\nWork with data and analytics experts to strive for greater functionality data systems\nTypical skills and background:\nSKILLS:\nCan work with data to identify patterns.\nUse judgement to form conclusions that may challenge conventional wisdom and focus on the crux of issues to identify high-leverage intervention points and strategies.\nRapidly acquire new knowledge and learn new skills\nSeek to understand business needs and get results that have a clear, positive, and direct impact on business performance\nApply different strategies to convince others to change their opinions or plans and ensure that proposals or arguments are supported by strong logic and a compelling business case, addressing all relevant factors.\nConsider the relative costs and benefits of potential actions to choose the most appropriate one\nCommunication and storytelling\nTeamwork and collaboration\nBanking domain business knowledge\nAdvanced analytics modelling and orchestration\nSolid development skills in Java, Scala and SQL\nSound knowledge of using data science tools and languages like Cloudera Data Science Workbench (CDSW), Jupyter Notebook, Python etc.\nClear hands-on mastery in big datab systems - Hadoop ecosystem, Cloud technologies (AWS, Azure, Google), in-memory database systems (HANA, Hazel cast, etc) and other database systems - traditional RDBMS (Terradata, SQL Server, Oracle), and NoSQL databases (Cassandra, MongoDB, DynamoDB)\nComfortable in dashboard development (Tableau, Powerbi, Qlik, etc) and in developing data analytics models (R, Python, Spark)\nEXPERIENCE AND QUALIFICATION:\nMasters degree from top-tier college/university in Computer Science, Statistics, Economics, or other closely-related field\nMinimum of 6 years' hands-on experience with a strong data background\nExtensive experience working with Big Data tools and building data solutions for advanced analytics\nExperience with statistical software, scripting languages, and packages (e.g. R, MATLAB, SAS, and Python)\nConsiderable experience in solving business problems with advanced analytical solutions\nProven experience in conducting statistical analysis and building models with advanced scripting language such as R, SPSS, or other analytic tools.\nExperience building and deploying predictive models, web scraping, and scalable data pipelines.\nStrong understanding of statistical methods and skills such as Bayesian Networks Inference, linear and non-linear regression, hierarchical, mixed models/multi-level modeling\nPractical knowledge across data extraction and transformation tools - traditional ETL tools (Informatica, Altryx) as well as more recent big data tools\nFinancial Renumeration will be based on your skills and expertise.\nNotice Period of 30 to 45 days preferred\nPrevious working experience in Middle East and Gulf regions preferred Roles and Responsibilities\n\n\nDesired Candidate Profile\n\n\nPerks and Benefits\n\n\nRoleData Analyst\nIndustry TypeBanking\nFunctional AreaAnalytics & Business Intelligence\nEmployment TypeFull Time, Temporary/Contractual\nRole CategoryAnalytics & BI\nEducation\nUG :Any Graduate\nKey Skills\nData ScienceBig Data AnalyticsHiveSqoopHdfs", 'Job description\nData Scientist Primary Location India, Bangalore Date posted 08/01/2021\nApply Now Save Job ID: JR0024575\n\n\nJob Title:\nData Scientist\n\n\nRole Overview:\nData scientist will be doing research on innovative projects in platform engineering group at McAfee. Platform Engineering Group is the is one of the core groups responsible for collecting data from millions of sensors from various products of Enterprises, using the data to protect the customers, provide insights and necessary actions to be taken for security gap.\n\nThis position is an integral part of the McAfee Enterprise business segment which was acquired by Symphony Technology Group (STG) in July 2021. McAfee Enterprise and its team members remain committed to keeping governments and enterprises safe. This position is dedicated to and part of the McAfee Enterprise business.\n\n\n\nCompany Overview\nMcAfee is a leader in personal security for consumers. Focused on protecting people, not just devices, McAfee consumer solutions adapt to users needs in an always online world, empowering them to live securely through integrated, intuitive solutions that protects their families and communities with the right security at the right moment.\nAbout the Role:\nDevelop Machine learning models to analyze and obtain practical insights from large volume of data that requires expertise at data exploration, analysis and feature engineering\nExperiment and Develop POCs of innovative ideas to come up with new solutions for addressing security gaps\nCreate machine learning pipelines to automate generation of efficient and better models\nCommunicate and work with engineering teams to productionize the solutions\nTaking ownership and responsibility of the solutions and driving to closure\nParticipate in data and product analytics to develop customer insights and product features\nImplement newer machine learning algorithms and models to improve the efficacy of the existing solutions\nPublish research papers on the experiments and machine learning solutions\nAbout you :\n5+ years of experience in the field of Data Science\n5+ years of programming experience in at least one of Python or Java\n3+ years of working experience on large datasets using ML and experience with ML model life cycle\nPhD degree in Computer Science, Data Science, Statistics, Mathematics or other related fields is preferred\nDeep knowledge in Natural Language processing, Deep learning, statistics, predictive modeling and time series analysis.\nPassionate about Cybersecurity and want to apply machine learning solutions in this space to solve security problems.\nExperience working on Big data problems\nExperience working on problems relevant to detecting risk, fraud and trust is an added advantage\nExperience in working in AWS cloud environment is an added advantage\nExperience with Publishing research papers\n\n\nRoleResearch Scientist\nIndustry TypeIT Services & Consulting\nFunctional AreaMedical, Healthcare, R&D, Pharmaceuticals, Biotechnology\nEmployment TypeFull Time, Permanent\nRole CategoryR&D\nEducation\nUG :Any Graduate\nPG :Post Graduation Not Required\nKey Skills\nComputer sciencePublishingdata scienceMachine learningPredictive modelingNatural language processingSensorsResearchAnalyticsPython', 'Job description\nRoles and Responsibilities\n\nDetails in lined for Hiring Team to focus:\nThe hiring is for a single Data Scientist (7-8+yrs) as he/she shall be an individual contributor.\nWe shall seek for a strong java/python/scala with expertise into frameworks ML (spark/keras/tensorflow).\nML concepts has to be thorough with proven expertise in ( Decision Trees, Random Forest, NLP) Deep Learning is excluded.\nDesired Candidate Profile\n\n\nPerks and Benefits\n\n\nRoleTechnical Architect\nIndustry TypeRecruitment / Staffing\nFunctional AreaIT Software - Application Programming, Maintenance\nEmployment TypeFull Time, Permanent\nRole CategoryProgramming & Design\nEducation\nUG :Any Graduate\nKey Skills\nTensorflowJavaNLPSCALAKerasSparkDecision TreesDeep LearningPythonRandom Forest', 'Job description\nDear Candidates\nWe are looking for a competent and enthusiastic candidate with the below requirement. This vital role ensures Cunesoft India Pvt Ltd (a Phlexglobal Company) Bangalore can provide a high-quality end product to internal and external users. This position requires strong technical and communication skills as well as both independent and team working, including working closely with all other areas of the software delivery team and the rest of the Technology department.\nRoles and Responsibilities\n\nKey Activities\nDevelop and improve the existing data mining and NLP related processes within our Regulatory Data Management platform\nDevelop new ways of improving and transforming the regulatory processes of Phlexglobal customers.\nInteract with product management, project management and development teams to develop additional modules and functions within the Phlexglobal Cloud Platform\nDesign and create solutions for pre specified modules and functions\nUse existing tools and techniques to develop and test new and existing work\nDefine, create and execute automated test cases, i.e. unit tests\nParticipate in troubleshooting and triaging of issues with different teams to drive towards root cause identification and resolution\nSupport production deployment of applications and perform validation testing during the off-hours maintenance windows\nSupport and fix existing and new identified issues by either customers or internal test teams.\n\nDesired Candidate Profile\n\n\nRequired Skills & Experience\n\nMinimum 3+ years working experience in NLP, Artificial Intelligence, Machine Learning, Text Mining, Neural Networks\nStrong programming skills using PYTHON\nIn depth experience with OpenNLP, Stanford NLP or related NLP / data mining technologies\nIn depth experience with Python and data libraries such as scikit learn, pandas, numpy, etc.\nSelecting features, building and optimizing classifiers using Machine learning techniques\nExcellent understanding of Machine Learning Techniques and Algorithms.\nMust have Data mining / Natural Language Processing experience\nMust have very good understanding of GIT\nProcessing, Cleansing, and verifying the integrity of data\nDevelop custom data models and algorithms to apply to data sets.\nDefining validation strategies\nDefining the preprocessing or feature engineering to be done on a given dataset\nDefining data augmentation pipelines\nTraining models and tuning their hyperparameters\nAnalyzing the errors of the model and designing strategies to overcome them\nDeploying models to production\n\nAdded advantages\n3+ years experience using Microsoft .NET / C#\nExposure to ML.Net, AutoML, NimbusML, etc\nGood knowledge of Microsoft Visual Studio is preferred\nGood to have Microsoft SQL Server, preferably Microsoft SQL Azure\nPrevious experience in the Life sciences area\n\nOther requirements\nExcellent verbal and written communication skills\nMust be flexible, independent and self motivated\nPunctual, Regular and consistent attendance\nAs part of the Interview process, you should have attempted the below mentioned Kaggle project.\n\nhttps://www.kaggle.com/c/titanic\n\nWe would like to arrange a phone interview with you. Please confirm your interest in this position by sending your recent CV attached along with below details.\n\nTotal years of Experience :\n\nRelevant Experience :\n\nCurrent CTC :\n\nExpected CTC :\n\nNotice Period :\n\nCurrent Location :\n\nBest time to talk to you :\n\nCandidates with relevant experience can contact me.\n\nWe are looking for a candidate who can join us immediately / in less than 15-20 days / 30 days / ASAP\n\nPlease ignore, if you have already been interviewed within 3 months.\n\nThanks\nSrini\n\nsarumugam@phlexglobal.com\n+91 63660 85842\n\nDot Net Developer\n\nJunior (3-5 yrs), Mid (5-8 yrs) & Lead (8-12 yrs) level roles.\n\nCommercial experience in web development using the full Microsoft .Net development stack (specifically C#, MVC, .Net Core), SQL, front-end frameworks (jQuery, React, etc).\n\nCoding, Entity framework, Linq, Source control system (Any - TFS or GIT), Data structures\n\nSkilled in modern development principles (Agile, SOLID, TDD, design patterns, IoC)\n\nAt least theoretical knowledge - know-SQL database (example\nAzure Cosmos)\n\nGood to have - Ideally experience of Azure, MVVM, microservices, message bus, containerisation, serverless.\n\nMicrosoft .Net development stack, C#, MVC, .Net Core, SQL, front-end frameworks, jQuery, React, Entity framework, Linq, TFS, GIT, Data structures, Agile, SOLID, TDD, design patterns, IoC, SQL database, Azure Cosmos, Azure, MVVM, microservices, message bus, containerisation, serverless\nRoleSoftware Developer\nIndustry TypePharmaceutical & Life Sciences\nFunctional AreaIT Software - Application Programming, Maintenance\nEmployment TypeFull Time, Permanent\nRole CategoryProgramming & Design\nEducation\nUG :Graduation Not Required\nKey Skills\npandaspythonnlpscikitlearndataminingneuralnetworkdeeplearningmachinelearningdatasciencenumpynaturallanguageprocessingartificialintelligence', "Job description\nAbout the role\nWe are looking for skilled motivated professionals who will support and own multiple projects globally that drive business growth while still balancing compliance risk and partner friction. The role will cover areas such as (not limited to) Sanctions screening; Partner and user compliance; Customer due diligence; Transaction monitoring; Metrics development and monitoring; and Model and Strategy development - to help balance partner friction and compliance risk\nWhat you'll do\nDevelop and manage user risk rating models that meet applicable regulatory requirements and are aligned with standard methodologies and practices. Interpret large amounts of complex data to formulate problem statements, concise conclusions regarding underlying risk dynamics, trends, and opportunities Identify key risk indicators and metrics while developing and monitoring key parameters, enhance

In [37]:
print(len(Jobs),len(Location),len(companies),len(job_description))

20 20 20 20

### Creating DataFrame.

In [38]:
Data_Scientist_job = pd.DataFrame({})
Data_Scientist_job['job-title'] = Jobs[:10]
Data_Scientist_job['job-location'] = Location[:10]
Data_Scientist_job['company_name'] = companies[:10]
Data_Scientist_job['full job-description'] = job_description[:10]

In [39]:
Data_Scientist_job

,job-title,job-location,company_name,full job-description
0,Senior Data Scientist,Bangalore/Bengaluru,Philips India Limited,Job description\n Be a part of the Enterprise...
1,Data Scientist: Advanced Analytics,Bangalore/Bengaluru,IBM India Pvt. Limited,----
2,Senior Data Scientist,Bangalore/Bengaluru,SYMBIOSIS International W.L.L,Job description\nRequired Candidate profile\nW...
3,DATA SCIENTIST,Bangalore/Bengaluru,McAfee Software (India) Pvt. Ltd,Job description\nData Scientist Primary Locati...
4,Senior Data Scientist,Bangalore/Bengaluru,Datamatics Global Services Ltd,Job description\nRoles and Responsibilities\n\...
5,Software Developer - Data Scientist / NLP / Ma...,Bangalore/Bengaluru,Cunesoft India Private Limited,Job description\nDear Candidates\nWe are looki...
6,Data scientist,Bangalore/Bengaluru,Uber,Job description\nAbout the role\nWe are lookin...
7,Senior Data Scientist,Bangalore/Bengaluru,IBM India Pvt. Limited,----
8,Senior Data Scientist,Bangalore/Bengaluru,Publicis Groupe,Job description\nWork location: Bengaluru (Cur...
9,Senior Data Scientist,Bangalore/Bengaluru,Bidgely Technologies Private Limited,Job description\nBidgely is looking for extrao...

# 
# 
### Q3: In this question you have to scrape data using the filters available on the website.You have to scrape data for “Data Scientist” designation for first 10 job results. You have to scrape the job-title, job-location, company_name, experience_required. The location filter to be used is “Delhi/NCR” The salary filter to be used is “3-6” lakhs.

In [84]:
url = 'https://www.naukri.com/'
driver.get(url)

In [85]:
#### Inserting data scientist in search bar
time.sleep(5)
search = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section/div/form/div[1]/div/div/div/div[1]/div[2]/input')
search.send_keys('Data Scientist')

In [86]:
### Clicking on search button
search_button = driver.find_element_by_class_name('btn')
search_button.click()

In [99]:
loc_filter = driver.find_element_by_xpath('//label[@for="chk-Delhi / NCR-cityTypeGid-"]//i')
loc_filter.click()

In [100]:
salary_filter = driver.find_element_by_xpath('//label[@for="chk-3-6 Lakhs-ctcFilter-"]//i')
salary_filter.click()

In [101]:
job_title = [] ### storing job titles in list
for i in driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]'): #scraping job title from website.
    job_title.append(i.text)
job_title

['Data Scientist',
 'Data Scientist / Sr. Data Scientist',
 'Only Fresher / Data Scientist / Data Analyst / Analytics - MNC Jobs',
 'Data Scientist / Data Analyst',
 'Immediate Openings For DATA Scientist with 6 To 7 yrs of Experience',
 'Data Scientist',
 'Senior Data Scientist - Noida',
 'Data Scientist',
 'Hiring Data Scientist Develope || IDS Infotech LTD || (Permanent WFH)',
 'Hiring Data Scientist Develope || IDS Infotech LTD || (Permanent WFH)',
 'Data Scientist - Machine Learning/NLP',
 'Data Scientist - Machine Learning/NLP',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Senior Data Scientist',
 'Data Scientist ( Machine Learning , Pyspark, Cloud , DevOps)',
 'Data Scientist ( Machine Learning , Pyspark, Cloud , DevOps)',
 'We are hiring- Data Scientist- Noida',
 'Senior Data Scientist']

In [102]:
company_name = [] ## storing company name in list
for i in driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]'): #scraping company name from website
    company_name.append(i.text)
company_name

['CBRE South Asia Pvt Ltd',
 'WEGARNER SOLUTIONS PRIVATE LIMITED',
 'GABA Consultancy services',
 'CARS24',
 'Entune IT Consulting Private Limited',
 'Decimal Technologies Pvt Ltd.',
 'Optum Global Solutions (India) Private Limited',
 'R Systems International Ltd.',
 'IDS Infotech Ltd.',
 'IDS Infotech Ltd.',
 'TalPro',
 'TalPro',
 'Country Veggie',
 'Ashkom Media India Private Limited',
 'Fractal Analytics',
 'inVentiv International Pharma Services Pvt. Ltd.',
 'JUMBO CONSULTANTS',
 'JUMBO CONSULTANTS',
 'RANDSTAD INDIA PVT LTD',
 'iNICU']

In [103]:
job_loc = [] ### Storing location data in list
for i in driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]//span[1]'): #scraping location data from webite
    job_loc.append(i.text)
job_loc

['Gurgaon/Gurugram',
 'Noida, Pune, Mumbai (All Areas)',
 'Noida, Gurgaon/Gurugram, Delhi / NCR',
 'Gurgaon/Gurugram',
 'Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Gurgaon/Gurugram',
 'Noida',
 'Noida(Sector-59 Noida)',
 'Chandigarh, Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru, Delhi / NCR',
 'Chandigarh, Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru, Delhi / NCR',
 'Gurgaon/Gurugram',
 'Gurgaon/Gurugram',
 'Bharuch, Jaipur, Bhopal, Mumbai, Jhansi, Nagpur, Ghaziabad, Jaunpur, Kanpur, Delhi, Lucknow, Agra, Gurgaon, Rajkot, Bengaluru',
 'Noida',
 'Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Remote',
 'Remote',
 'Delhi / NCR',
 'Delhi']

In [104]:
exp_req = [] ### Storing required expirence in list.
for i in driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]//span'): ### scraping expirence required data from website.
    exp_req.append(i.text)
exp_req

['2-4 Yrs',
 '0-5 Yrs',
 '0-0 Yrs',
 '1-5 Yrs',
 '5-8 Yrs',
 '1-3 Yrs',
 '2-6 Yrs',
 '5-10 Yrs',
 '5-10 Yrs',
 '5-10 Yrs',
 '2-6 Yrs',
 '2-4 Yrs',
 '1-3 Yrs',
 '3-8 Yrs',
 '3-7 Yrs',
 '3-6 Yrs',
 '4-9 Yrs',
 '4-9 Yrs',
 '3-7 Yrs',
 '1-5 Yrs']

### Creating Dataframe

In [105]:
df = pd.DataFrame({})
df['job-title'] = job_title[:10]
df['job-location'] = job_loc[:10]
df['company_name'] = company_name[:10]
df['experience_required'] = exp_req[:10]
df

,job-title,job-location,company_name,experience_required
0,Data Scientist,Gurgaon/Gurugram,CBRE South Asia Pvt Ltd,2-4 Yrs
1,Data Scientist / Sr. Data Scientist,"Noida, Pune, Mumbai (All Areas)",WEGARNER SOLUTIONS PRIVATE LIMITED,0-5 Yrs
2,Only Fresher / Data Scientist / Data Analyst /...,"Noida, Gurgaon/Gurugram, Delhi / NCR",GABA Consultancy services,0-0 Yrs
3,Data Scientist / Data Analyst,Gurgaon/Gurugram,CARS24,1-5 Yrs
4,Immediate Openings For DATA Scientist with 6 T...,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",Entune IT Consulting Private Limited,5-8 Yrs
5,Data Scientist,Gurgaon/Gurugram,Decimal Technologies Pvt Ltd.,1-3 Yrs
6,Senior Data Scientist - Noida,Noida,Optum Global Solutions (India) Private Limited,2-6 Yrs
7,Data Scientist,Noida(Sector-59 Noida),R Systems International Ltd.,5-10 Yrs
8,Hiring Data Scientist Develope || IDS Infotech...,"Chandigarh, Hyderabad/Secunderabad, Chennai, B...",IDS Infotech Ltd.,5-10 Yrs
9,Hiring Data Scientist Develope || IDS Infotech...,"Chandigarh, Hyderabad/Secunderabad, Chennai, B...",IDS Infotech Ltd.,5-10 Yrs

# 
# 
### Q4: Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company.

In [112]:
url = 'https://www.glassdoor.co.in/member/home/index.htm'
driver.get(url)

In [113]:
job_src = driver.find_element_by_xpath("/html/body/header/nav[1]/div/div/div/div[4]/div[2]/form/div/div[1]/div/div/input")
job_src.send_keys('Data scientist') ### inserting Data Scientist in Job title search bar.

In [114]:
loc = driver.find_element_by_xpath('/html/body/header/nav[1]/div/div/div/div[4]/div[2]/form/div/div[3]/div/input')
loc.send_keys('Noida') ### Inserting Noida in location search bar.

In [115]:
src_button = driver.find_element_by_xpath("/html/body/header/nav[1]/div/div/div/div[4]/div[2]/form/div/button")
src_button.click() ### Clicking search button

In [118]:
time.sleep(5)
company_name = [] ## Scraping company name data.
for i in driver.find_elements_by_xpath('//a[@class=" css-l2wjgv e1n63ojh0 jobLink"]//span'): 
    company_name.append(i.text)
    
company_name

['Liberin Technologies Private Limited',
 'Pixel Vision',
 'Biz2Credit Inc',
 'Salasar New Age Technologies',
 'Newgen Software',
 'Crowe',
 'Techlive',
 'Salasar New Age Technologies',
 'Ericsson',
 'DataTrained',
 'NEC Opportunities',
 'Deciman',
 'SearchUrCollege',
 'Uncodemy',
 'Emerging India Analytics',
 'Conduent',
 'Innovacer',
 'Innovacer',
 'WhizHack Technologies Pvt Ltd',
 'British Council',
 'WishFin',
 'Airtel India',
 'dunnhumby',
 'Data Trained Education',
 'Flip Robo Technologies',
 'Decision Tree Analytics And Services',
 'MasterCard',
 'Ameriprise Financial',
 'Algoscale',
 'Decision Tree Analytics And Services']

In [119]:
days_ago = [] ### Scraping Days_ago data from website.
for i in driver.find_elements_by_xpath('//div[@class="d-flex align-items-end pl-std css-mi55ob"]'): 
    days_ago.append(i.text)
days_ago

['11d',
 '21d',
 '30d+',
 '30d+',
 '22d',
 '30d+',
 '30d+',
 '30d+',
 '6d',
 '24h',
 '3d',
 '10d',
 '30d+',
 '2d',
 '2d',
 '30d+',
 '30d+',
 '4d',
 '26d',
 '24h',
 '30d+',
 '4d',
 '1d',
 '1d',
 '2d',
 '1d',
 '9d',
 '11d',
 '30d+',
 '1d']

In [120]:
rating = []### Scraping Ratings for company
for i in driver.find_elements_by_xpath('//div[@class="d-flex flex-column css-x75kgh e1rrn5ka3"]'):
    rating.append(i.text)
rating

['',
 '',
 '4.1',
 '',
 '3.3',
 '3.8',
 '5.0',
 '',
 '4.1',
 '4.6',
 '',
 '3.7',
 '',
 '',
 '',
 '3.1',
 '3.8',
 '3.8',
 '',
 '3.7',
 '3.8',
 '3.8',
 '4.1',
 '',
 '4.3',
 '4.7',
 '4.2',
 '3.8',
 '3.9',
 '4.7']

### Creating Dataframe.

In [121]:
df = pd.DataFrame({})
df['Company name'] = company_name[:10]
df['No. of days ago'] = days_ago[:10]
df['Rating'] = rating[:10]
df

                           Company name No. of days ago Rating
0  Liberin Technologies Private Limited             11d
1                          Pixel Vision             21d
2                        Biz2Credit Inc            30d+    4.1
3          Salasar New Age Technologies            30d+
4                       Newgen Software             22d    3.3
5                                 Crowe            30d+    3.8
6                              Techlive            30d+    5.0
7          Salasar New Age Technologies            30d+
8                              Ericsson              6d    4.1
9                           DataTrained             24h    4.6

# 
# 
### Q5: Write a python program to scrape the salary data for Data Scientist designation in Noida location. from https://www.glassdoor.co.in/Salaries/index.htm

In [122]:
url = 'https://www.glassdoor.co.in/Salaries/index.htm'
driver.get(url)

In [130]:
job_search = driver.find_element_by_id('KeywordSearch')
job_search.send_keys('Data Scientist')

In [132]:
loc_search = driver.find_element_by_xpath('/html/body/div[3]/div/div[1]/div[1]/div/div/form/input[6]')
loc_search.send_keys('Noida')

In [133]:
search_btn = driver.find_element_by_class_name('gd-btn-mkt')
search_btn.click()

In [134]:
com_name = [] ### Scarping company names.
for i in driver.find_elements_by_xpath('//a[@class="css-f3vw95 e1aj7ssy3"]'):
    com_name.append(i.text)
com_name

['Tata Consultancy Services',
 'IBM',
 'Accenture',
 'Delhivery',
 'Ericsson-Worldwide',
 'UnitedHealth Group',
 'Valiance Solutions',
 'EXL Service',
 'Optum',
 'Optum Global Solutions',
 'ZS Associates',
 'Innovaccer',
 'OYO',
 'Nagarro',
 'Cognizant Technology Solutions',
 'CARS24.com',
 'dunnhumby',
 'Vidooly Media Tech',
 'Tech Mahindra',
 'Fresher']

In [135]:
No_of_salaries = [] ### Scraping number of salaries.
for i in driver.find_elements_by_xpath('//span[@class="m-0 css-1b6bxoo"]'):
    No_of_salaries.append(i.text)
No_of_salaries

['Average',
 '₹xx,xxx',
 '18 salaries',
 '18 salaries',
 '15 salaries',
 '15 salaries',
 '14 salaries',
 '14 salaries',
 '10 salaries',
 '9 salaries',
 '9 salaries',
 '9 salaries',
 '8 salaries',
 '8 salaries',
 '7 salaries',
 '7 salaries',
 '6 salaries',
 '6 salaries',
 '6 salaries',
 '6 salaries',
 '5 salaries',
 '5 salaries']

In [136]:
del No_of_salaries[0:2] ### Removing the first to values.

In [137]:
avg_salary = [] ### Scraping average salary.
for i in driver.find_elements_by_xpath('//div[@class="col-12 col-lg-4 px-lg-0 d-flex align-items-baseline"]//h3'):
    avg_salary.append(i.text)
avg_salary

['₹6,12,205',
 '₹9,00,000',
 '₹11,63,336',
 '₹xx,xx,xxx',
 '₹x,xx,xxx',
 '₹xx,xx,xxx',
 '₹x,xx,xxx',
 '₹xx,xx,xxx',
 '₹xx,xx,xxx',
 '₹xx,xx,xxx',
 '₹xx,xx,xxx',
 '₹xx,xx,xxx',
 '₹xx,xx,xxx',
 '₹xx,xx,xxx',
 '₹xx,xx,xxx',
 '₹xx,xx,xxx',
 '₹xx,xx,xxx',
 '₹xx,xxx',
 '₹xx,xx,xxx',
 '₹xx,xxx']

In [138]:
min_max_range = [] ### Scraping Minimum and maximum range of salary.
for i in driver.find_elements_by_xpath('//span[@class="d-block d-lg-none m-0 css-1b6bxoo"]'):
    min_max_range.append(i.text)
min_max_range

['Range: ₹3L - ₹13L',
 'Range: ₹6L - ₹27L',
 'Range: ₹6L - ₹22L',
 'Range: ₹xL - ₹xCr',
 'Range: ₹xL - ₹xxL',
 'Range: ₹xL - ₹xxL',
 'Range: ₹xL - ₹xxL',
 'Range: ₹xL - ₹xxL',
 'Range: ₹xL - ₹xxL',
 'Range: ₹xL - ₹xxL',
 'Range: ₹xL - ₹xxL',
 'Range: ₹xL - ₹xxL',
 'Range: ₹xxL - ₹xxL',
 'Range: ₹xL - ₹xxL',
 'Range: ₹xL - ₹xxL',
 'Range: ₹xL - ₹xxL',
 'Range: ₹xL - ₹xxL',
 'Range: ₹xxT - ₹xxT',
 'Range: ₹xL - ₹xxL',
 'Range: ₹xxT - ₹xL']

In [139]:
Rating = []
for i in driver.find_elements_by_xpath('//span[@class="m-0 css-kyx745"]'):
    Rating.append(i.text)
Rating

['3.9',
 '3.9',
 '4.1',
 '3.9',
 '4',
 '3.6',
 '4.2',
 '3.6',
 '3.7',
 '3.9',
 '4',
 '3.8',
 '3.3',
 '4',
 '3.8',
 '4.1',
 '4.1',
 '3.7',
 '3.6',
 '4.2']

### Creating DataFrame.

In [140]:
df = pd.DataFrame({})
df['Company name'] = com_name[:10]
df[' Number of salaries'] = No_of_salaries[:10]
df[' Number of salaries'] = avg_salary[:10]
df['Min salary and Max Salary'] = min_max_range[:10]
df['Rating'] = Rating[:10]
df

,Company name,Number of salaries,Min salary and Max Salary,Rating
0,Tata Consultancy Services,"₹6,12,205",Range: ₹3L - ₹13L,3.9
1,IBM,"₹9,00,000",Range: ₹6L - ₹27L,3.9
2,Accenture,"₹11,63,336",Range: ₹6L - ₹22L,4.1
3,Delhivery,"₹xx,xx,xxx",Range: ₹xL - ₹xCr,3.9
4,Ericsson-Worldwide,"₹x,xx,xxx",Range: ₹xL - ₹xxL,4
5,UnitedHealth Group,"₹xx,xx,xxx",Range: ₹xL - ₹xxL,3.6
6,Valiance Solutions,"₹x,xx,xxx",Range: ₹xL - ₹xxL,4.2
7,EXL Service,"₹xx,xx,xxx",Range: ₹xL - ₹xxL,3.6
8,Optum,"₹xx,xx,xxx",Range: ₹xL - ₹xxL,3.7
9,Optum Global Solutions,"₹xx,xx,xxx",Range: ₹xL - ₹xxL,3.9

# 
# 
### Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:1. Brand 2. Product Description 3. Price 4. Discount %

In [141]:
url = 'https://www.flipkart.com/'
driver.get(url)

In [142]:
src = driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
src.send_keys('sunglasses')

In [143]:
btn = driver.find_element_by_class_name('L0Z3Pu')
btn.click()

In [144]:
nav = []
for i in driver.find_elements_by_xpath('//nav[@class="yFHi8N"]//a'):
    nav.append(i.get_attribute('href'))
nav

['https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=1',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=2',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=3',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=4',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=5',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=6',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=7',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=8',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=9',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=10',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=2']

In [145]:
len(nav)

11

In [146]:
brand = [] ### Empty list for brand name
description = [] ### Empty list for product description
price = [] ### Empty list for Price's
off = [] ### Empty list for discounts
count = 1 ### Counter to stop for loop at page 3
for i in nav:
    if count<=3:
        driver.get(i)
        for i in driver.find_element_by_xpath('//div[@class="_2WkVRV"]'): ### Scraping brand name
            brand.append(i.text)
        for i in driver.find_element_by_xpath('//a[@class="IRpwTa"]'): ### Scraping product description
            description.append(i.text)
        for i in driver.find_element_by_xpath('//div[@class="_30jeq3"]'): ### Scraping product price
            price.append(i.text)
        for i in driver.find_element_by_xpath('//div[@class="_3Ay6Sb"]'): ### Scraping discount on product.
            off.append(i.text)
    count+=1 ### Increasing counter value by one.
print(len(brand),len(description),len(price),len(off))

120 120 120 120

In [147]:
df = pd.DataFrame({})
df['Brand'] = brand[:100]
df['Description'] = description[:100]
df['Price'] = price[:100]
df['Discount'] = off[:100]
df

,Brand,Description,Price,Discount
0,Wrogn,Mirrored Wayfarer Sunglasses (51),₹739,71% off
1,ROYAL SON,"Polarized, UV Protection Round Sunglasses (53)",₹664,66% off
2,Elligator,UV Protection Round Sunglasses (54),₹295,88% off
3,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹599,25% off
4,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹699,22% off
...,...,...,...,...
95,ROYAL SON,"Polarized, UV Protection Rectangular Sunglasse...",₹664,55% off
96,GANSTA,UV Protection Aviator Sunglasses (57),₹323,83% off
97,Fravy,"UV Protection, Gradient, Night Vision Retro Sq...",₹305,84% off
98,ROZZETTA CRAFT,"Gradient, UV Protection Round Sunglasses (Free...",₹426,78% off
99,VINCENT CHASE,Polarized Retro Square Sunglasses (54),₹799,60% off

# 
# 
### Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace

In [151]:
url = 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace'
driver.get(url)

In [152]:
time.sleep(5)
all_review = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[9]/div/div/div[5]/div/a')
link = all_review.get_attribute('href')
driver.get(link)

In [153]:
pages =[] 
for i in driver.find_elements_by_xpath('//nav[@class="yFHi8N"]//a'):
    pages.append(i.get_attribute('href'))
pages

['https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=1',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=2',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=3',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=4',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=5',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=6',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=7',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=8',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=9',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=10',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=2']

In [154]:
Rating = []
Review_summary = []
Full_review = []
count = 1
for i in pages:
    if count <=11:
        driver.get(i)
        for x in driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]'):
            Rating.append(x.text)
        for r in driver.find_elements_by_xpath('//p[@class="_2-N8zT"]'):
            Review_summary.append(r.text)
        for f in driver.find_elements_by_xpath('//div[@class="t-ZTKy"]'):
            Full_review.append(f.text.replace('\n',''))
    count+=1
print(len(Rating),len(Review_summary),len(Full_review))

108 110 110

### Creating Dataframe.

In [254]:
df = pd.DataFrame({})
df['Rating'] = Rating[:100]
df['Review summary'] = Review_summary[:100]
df['Full review'] = Full_review[:100]
df

,Rating,Review summary,Full review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Brilliant,The Best Phone for the MoneyThe iPhone 11 offe...
2,5,Perfect product!,Amazing phone with great cameras and better ba...
3,5,Fabulous!,This is my first iOS phone. I am very happy wi...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
...,...,...,...
95,5,Fabulous!,Everything is perfect pictures come out so cle...
96,5,Just wow!,The ultimate performanceCamera is superbThe ba...
97,5,Mind-blowing purchase,Excellent camera 📸 And Display touching very N...
98,5,Excellent,A perfect phone and a good battery super camer...
99,5,Excellent,Value for money product. This iphone 11 is rea...

# 
# 
### Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.You have to scrape 4 attributes of each sneaker :
#### 1. Brand
#### 2. Product Description
#### 3. Price
#### 4. discount %

In [183]:
driver.get('https://www.flipkart.cm/')

In [94]:
time.sleep(2)
search_bar = driver.find_element_by_xpath('//*[@id="container"]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search_bar.send_keys('sneakers')

In [95]:
src_btn = driver.find_element_by_class_name('L0Z3Pu')
src_btn.click()

In [79]:
links =[]
for i in driver.find_elements_by_class_name('_2UzuFa'):
    links.append(i.get_attribute('href'))
len(links)

40

In [86]:
## Clicking page 2.
page_2 = driver.find_element_by_xpath('/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[2]').click()
time.sleep(3)

## Collecting all the products urls.
page_2_links =[]
for i in driver.find_elements_by_class_name('_3bPFwb'):
    page_2_links.append(i.get_attribute('href'))
len(page_2_links)

40

In [96]:
## Clicking page 3.
page_3 = driver.find_element_by_xpath('/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[3]').click()
time.sleep(3)

## Collecting each product url from page 3
page_3_links = []
for i in driver.find_elements_by_class_name('_2UzuFa'):
    page_3_links.append(i.get_attribute('href'))
len(page_3_links)

40

In [80]:
Brand = []
Product_discription = []
Price = []
Discount = []

In [97]:
len(Brand)

80

In [81]:
    
for i in links:
    driver.get(i)
    time.sleep(1)
    ## Fetching Brand name
    try:
        brand_name = driver.find_element_by_xpath('//span[@class="G6XhRU"]')
        Brand.append(brand_name.text)
    except:
        Brand.append('-')
    ## Fetching Product discription
    try:
        prd_discp = driver.find_element_by_xpath('//span[@class="B_NuCI"]')
        Product_discription.append(prd_discp.text)
    except:
        Product_discription.append('-')
    ## Fetching Price detail
    try:
        price = driver.find_element_by_xpath('//div[@class="_30jeq3 _16Jk6d"]')
        Price.append(price.text)
    except:
        Price.append('-')
    ## Fetching Discount on each product
    try:
        discount = find_element_by_xpath('//div[@class="_3Ay6Sb _31Dcoz pZkvcx"]')
        Discount.append(discount.text)
    except:
        Discount.append('-')
        
print(len(Brand),len(Product_discription),len(Price), len(Discount))

40 40 40 40

In [89]:
for i in page_2_links:
    driver.get(i)
    time.sleep(2)
    ## Fetching Brand name
    try:
        brand_name = driver.find_element_by_xpath('//span[@class="G6XhRU"]')
        Brand.append(brand_name.text)
    except:
        Brand.append('-')
    ## Fetching Product discription
    try:
        prd_discp = driver.find_element_by_xpath('//span[@class="B_NuCI"]')
        Product_discription.append(prd_discp.text)
    except:
        Product_discription.append('-')
    ## Fetching Price detail
    try:
        price = driver.find_element_by_xpath('//div[@class="_30jeq3 _16Jk6d"]')
        Price.append(price.text)
    except:
        Price.append('-')
    ## Fetching Discount on each product
    try:
        discount = find_element_by_xpath('//div[@class="_3Ay6Sb _31Dcoz pZkvcx"]')
        Discount.append(discount.text)
    except:
        Discount.append('-')
        
print(len(Brand),len(Product_discription),len(Price), len(Discount))

80 80 80 80

In [98]:
for i in page_3_links[:20]:
    driver.get(i)
    time.sleep(2)
    ## Fetching Brand name
    try:
        brand_name = driver.find_element_by_xpath('//span[@class="G6XhRU"]')
        Brand.append(brand_name.text)
    except:
        Brand.append('-')
    ## Fetching Product discription
    try:
        prd_discp = driver.find_element_by_xpath('//span[@class="B_NuCI"]')
        Product_discription.append(prd_discp.text)
    except:
        Product_discription.append('-')
    ## Fetching Price detail
    try:
        price = driver.find_element_by_xpath('//div[@class="_30jeq3 _16Jk6d"]')
        Price.append(price.text)
    except:
        Price.append('-')
    ## Fetching Discount on each product
    try:
        discount = find_element_by_xpath('//div[@class="_3Ay6Sb _31Dcoz pZkvcx"]')
        Discount.append(discount.text)
    except:
        Discount.append('-')
        
print(len(Brand),len(Product_discription),len(Price), len(Discount))

100 100 100 100

### Creating DataFrame

In [99]:
df = pd.DataFrame({})
df['Brand'] = Brand
df['Product Description'] = Product_discription
df['Price'] = Price
df['discount %'] = Discount
df

,Brand,Product Description,Price,discount %
0,DUCATI,Sneakers For Men (Black),"₹1,219",-
1,Zorth,Sneakers For Men (Olive),₹499,-
2,Chevit,Super Stylish & Trendy Combo Pack of 02 Pairs ...,₹599,-
3,PEHANOSA,Sneakers For Men (Multicolor),₹419,-
4,ASTEROID,Luxury Branded Fashionable Men's Casual Walkin...,₹499,-
...,...,...,...,...
95,RED TAPE,Sneakers For Men (Tan),₹899,-
96,BRUTON,Modern & Trendy Collection Combo Pack of 02 Sh...,₹499,-
97,Numenzo,Sneakers For Men (Black),₹407,-
98,Chevit,Smart Casuals Canvas Shoes Combo pack of 2 Sne...,₹360,-
99,bacca bucci,Sneakers For Men (White),"₹1,299",-

# 
# 
### Q9: Go to the link - https://www.myntra.com/shoes Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe.

In [184]:
driver.get('https://www.myntra.com/shoes')

In [185]:
### Selecting price filter 5319.0 TO 10479.0 as  Rs. 6649 to Rs. 13099 is not showing on website.
price_filter = driver.find_element_by_xpath('//ul[@class="price-list"]/li[2]')
price_filter.click()

In [186]:
### Selecting color filter black.
color_filter = driver.find_element_by_xpath('//span[@data-colorhex="black"]')
color_filter.click()

In [174]:
urls = [] # storing page 1 product urls
for i in driver.find_elements_by_xpath('//a[@style="display: block;"]'):
    urls.append(i.get_attribute('href'))
len(urls)

50

In [177]:
Brand = [] ### For storing Brand Name 
Description = [] ### For storing Description
Price = [] ### For storing Price

In [178]:
for i in urls:
    driver.get(i)
    time.sleep(3)
    try:
        brand_name = driver.find_element_by_class_name('pdp-title')
        Brand.append(brand_name.text)
    except:
        Brand.append('-')
    try:
        descrip = driver.find_element_by_class_name('pdp-name')
        Description.append(descrip.text)
    except:
        Description.append('-')
    try:
        price = driver.find_element_by_class_name('pdp-price')
        Price.append(price.text)
    except:
        Price.append('-')

In [200]:
len(Brand)

100

In [201]:
len(Description)

100

In [202]:
len(Price)

100

In [195]:
### Clicking on page 2
page_2 = driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[3]/a').click()

In [198]:
urls_2 = [] ### Storing secand page product urls.
for i in driver.find_elements_by_xpath('//a[@style="display: block;"]'):
    urls_2.append(i.get_attribute('href'))
len(urls_2)

50

In [199]:

for i in urls_2:
    driver.get(i)
    time.sleep(3)
    try:
        brand_name = driver.find_element_by_class_name('pdp-title')
        Brand.append(brand_name.text)
    except:
        Brand.append('-')
    try:
        descrip = driver.find_element_by_class_name('pdp-name')
        Description.append(descrip.text)
    except:
        Description.append('-')
    try:
        price = driver.find_element_by_class_name('pdp-price')
        Price.append(price.text)
    except:
        Price.append('-')

In [203]:
print(len(Brand),len(Description),len(Price))

100 100 100

In [204]:
### Creating DataFrame
df = pd.DataFrame({})
df['Brand'] = Brand
df['Description'] = Description
df['Price'] = Price
df

           Brand                                        Description     Price
0           Nike         Men Black Renew Retaliation TR 3 Gym Shoes  Rs. 5995
1           Puma         Men Black Cell Fraction Fade Running Shoes  Rs. 6999
2           Nike  Men Black & White Blazer Low '77 Vintage Leath...  Rs. 7195
3   UNDER ARMOUR  Unisex Black Project Rock Recruit BSR Woven De...  Rs. 9999
4           Nike                   Men Black Crater Remixa Sneakers  Rs. 5495
..           ...                                                ...       ...
95          Geox                  Black Riveted Leather Block Heels  Rs. 5624
96          Geox                       Women Black Leather Sneakers  Rs. 6749
97  Kenneth Cole              Men Black Solid Leather Formal Derbys  Rs. 6293
98  UNDER ARMOUR  Women Black Woven Design Charged Rogue 2 Runni...  Rs. 5599
99          Geox                    Men Black Leather Driving Shoes  Rs. 9999

[100 rows x 3 columns]

# 
# 
### Q10: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7” and “Intel Core i9”  After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
#### 1. title
#### 2. Ratings
#### 3. Price

In [205]:
driver.get('https://www.amazon.in/')

In [208]:
Search_bar = driver.find_element_by_id('twotabsearchtextbox')
Search_bar.send_keys('Laptop')

In [209]:
search_button = driver.find_element_by_id('nav-search-submit-text')
search_button.click()

In [210]:
### Selecting filter button Intel i7
Filter = driver.find_elements_by_xpath('//a[@class="a-link-normal s-navigation-item"]/span')
for i in Filter:
    if i.text=='Intel Core i7':
        i.click()
        break

In [211]:
### Selecting filter button Intel i9
Filter = driver.find_elements_by_xpath('//a[@class="a-link-normal s-navigation-item"]/span')
for i in Filter:
    if i.text=='Intel Core i9':
        i.click()
        break

In [214]:
product_link = [] ### Storing product links
for i in driver.find_elements_by_xpath('//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]/a'):
    product_link.append(i.get_attribute('href'))
len(product_link)

28

In [220]:
Title = [] ## for storing product titles
Rating = [] ## For storing Rating of product 
Price = [] ## For storing price of product

In [221]:
for i in product_link[:10]:
    driver.get(i)
    time.sleep(3)
    try:
        title = driver.find_element_by_id('productTitle')
        Title.append(title.text)
    except:
        Title.append('-')
    try:
        price = driver.find_element_by_xpath('//span[@id="priceblock_ourprice"]')
        Price.append(price.text)
    except:
        Price.append('-')
    try:
        rating = driver.find_element_by_xpath('//span[@class="a-size-medium a-color-base"]')
        Rating.append(rating.text)
    except:
        Rating.append('-')
print(len(Title),len(Rating),len(Price))

10 10 10

### Creating DataFrame

In [222]:
df = pd.DataFrame({})
df['Title'] = Title
df['Rating'] = Rating
df['Price'] = Price
df.head(10)

,Title,Rating,Price
0,"ASUS TUF Dash F15 (2021), 15.6"" (39.62 cms) FH...",4.5 out of 5,"₹1,07,990.00"
1,HP Envy 11th Gen Core i7 Processor 13.3-inch (...,4.1 out of 5,"₹1,09,990.00"
2,"MSI GF65 Thin, Intel i7-10750H, 15.6"" FHD (39....",3.6 out of 5,"₹81,990.00"
3,HP Pavilion (2021) Thin & Light 11th Gen Core ...,4.3 out of 5,"₹84,990.00"
4,Mi Notebook Horizon Edition 14 Intel Core i7-1...,4.4 out of 5,-
5,"ASUS TUF Gaming F15 (2020), 15.6-inch (39.62 c...",4.2 out of 5,"₹71,990.00"
6,"ASUS TUF Dash F15 (2021), 15.6"" (39.62 cms) FH...",4.5 out of 5,"₹1,07,990.00"
7,HP Envy 11th Gen Core i7 Processor 13.3-inch (...,4.1 out of 5,"₹1,09,990.00"
8,Acer Predator Helios 300 Core i7 10th Generati...,3 out of 5,"₹1,37,500.00"
9,Lenovo Legion 5 10th Gen Intel Core i7-10750H ...,4.4 out of 5,"₹82,990.00"